.myHeader {
  text-align: center;
  font-family: courier;
  font-size: 17px;
  color: white;
  min-height: 100%;
  background-image: linear-gradient(to top right, red, black);
  background-size: cover;
  background-repeat: no-repeat;
}

.myShop {
  font-size: 50px;
  font-weight: bold;
}

.myMain {

  min-height: 100%;
  background-image: linear-gradient(to top right, white, gray);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace;
  font-size: 15px;
  padding: 1em;
}

body {
  background-image: url(../assignment/record.png);
  background-repeat: repeat;
}

.myListItems {
  font-size: 17px;
  font-style: italic;
}

.newImage {
  /* border: 15px solid black; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}
