body {
  background-image: url(../assignment/record.png);
  background-repeat: repeat;
}

.myHeader {
  text-align: center;
  font-family: courier;
  font-size: 10px;
  color: white;
  min-height: 100%;
  background-image: linear-gradient(to top right, #CC5500, black);
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid black;
  margin-bottom: 65px;
}

.myShop {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 8px #000000;
  text-decoration: underline;
}

.myMain {

  min-height: 100%;
  background-image: linear-gradient(to top right, white, gray);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace;
  font-size: 15px;
  padding: 1em;
  border: 5px solid black;
}

.myListItems {
  font-size: 17px;
  font-style: italic;
}

.newImage {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 50px;
  padding-bottom: 50px;
}
