header {
  text-align: center;
  font-family: courier;
  font-size: 17px;
  color: white;
  min-height: 100%;
  background-image: linear-gradient(to top right, red, black);
  background-size: cover;
  background-repeat: no-repeat;
}

main {

  min-height: 100%;
  background-image: linear-gradient(to top right, white, gray);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: monospace;
  font-size: 15px;
  padding: 1em;
}

body {
  background-image: url(../assignment/record.png);
  background-repeat: repeat;
}
